Exploratory Data Analysis
=========================

## Preliminaries

In [9]:
# Load Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [11]:
# Load in data
data = pd.read_csv("Isoscape_Data.csv")

# Fix dates
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')

data.describe()

,Lat,Long,Alt,Date,O18Avg,H2avg,dex,Precipitation (kg/m^2/s),Temperature (K)
count,1770.000000,1770.000000,1770.000000,1770,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000
mean,56.169774,87.180175,176.106780,2000-03-10 13:31:07.118644096,-17.002170,-127.882944,-46.638448,0.000009,271.618855
min,44.230000,55.820000,8.000000,1989-01-02 00:00:00,-42.980000,-341.100000,-271.510000,0.000000,221.124573
25%,48.780000,74.970000,45.000000,1997-12-02 00:00:00,-22.372500,-169.450000,-95.595000,0.000000,259.282486
50%,49.820000,82.120000,114.000000,2000-07-02 00:00:00,-15.415000,-116.107500,-33.837500,0.000000,273.234924
75%,68.470000,105.800000,245.000000,2003-03-02 00:00:00,-10.550000,-76.378750,10.936396,0.000008,286.103821
max,74.430000,123.130000,707.000000,2007-12-02 00:00:00,1.730000,-22.790000,135.840000,0.000401,306.431641
std,10.360144,19.733301,164.659267,NaN,8.140245,64.097604,71.764929,0.000027,17.595857